{{> head }}
{{> navbar}}

<div class="row">

    <div class="col-8">
        <h1>Foto Zoo con Ana</h1>
    </div>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo repellendus deserunt ducimus odio velit? Eius nostrum, quod optio at tenetur ut autem quasi sed cum vero accusantium tempora consequatur. Nisi.</p>

    <div class="col-4">
        <img src="assets/img/foto_zoo.jpg" class="img-thumbnail">
    </div>

</div>

{{> footer }}